/*------------------------------------ 
	
	WEBSITE HANDCODED BY JANSBURY @ POLLEN
	www.jansbury.com  / www.pollencollective.co.nz
	
------------------------------------*/
.plus,.minus{
	background: url(../i/plus.png) no-repeat 0 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.minus{
	background: url(../i/minus.png) no-repeat 0 0;
}
.plus:hover,.minus:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -ms-transform: scale(1.1);
  filter: alpha(opacity=70);	
}
.navToggle{
	background: url(../i/arrow.png) center center no-repeat; 
}
.logo img{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.logo img:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.navToggle{
	background: url(../i/arrow.png) center center no-repeat;
}
.svg{display:none;}

