/*------------------------------------ 
	
	WEBSITE HANDCODED BY JANSBURY 
	www.jansbury.com
	
------------------------------------*/

/* ==========================================================================
   Jansbury CSS Reset
   ========================================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
html,body {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}

/* ==========================================================================
   Just a font to the face
   ========================================================================== */

@font-face {
    font-family: 'noto_reg';
    src: url('../f/serif/NotoSerif-Regular-webfont.eot');
    src: url('../f/serif/NotoSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/serif/NotoSerif-Regular-webfont.woff') format('woff'),
         url('../f/serif/NotoSerif-Regular-webfont.ttf') format('truetype'),
         url('../f/serif/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_ita';
    src: url('../f/serif/i/NotoSerif-Italic-webfont.eot');
    src: url('../f/serif/i/NotoSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/serif/i/NotoSerif-Italic-webfont.woff') format('woff'),
         url('../f/serif/i/NotoSerif-Italic-webfont.ttf') format('truetype'),
         url('../f/serif/i/NotoSerif-Italic-webfont.svg#noto_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_bold';
    src: url('../f/serif/b/NotoSerif-Bold-webfont.eot');
    src: url('../f/serif/b/NotoSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/serif/b/NotoSerif-Bold-webfont.woff') format('woff'),
         url('../f/serif/b/NotoSerif-Bold-webfont.ttf') format('truetype'),
         url('../f/serif/b/NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../f/sans/r/OpenSans-Regular-webfont.eot');
    src: url('../f/sans/r/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/sans/r/OpenSans-Regular-webfont.woff') format('woff'),
         url('../f/sans/r/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../f/sans/r/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../f/sans/b/OpenSans-Bold-webfont.eot');
    src: url('../f/sans/b/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/sans/b/OpenSans-Bold-webfont.woff') format('woff'),
         url('../f/sans/b/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../f/sans/b/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




/* ==========================================================================
   Normals
   ========================================================================== */

* {margin: auto;padding: 0;text-decoration:none;list-style: none outside none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
html{height:100%;}

/* ==========================================================================
   IE Message
   ========================================================================== */

.iemess{display:none;margin: 20px auto;width: 50%;line-height:2em;font-size: 2em;text-align:center;}
.lt-ie8 .iemess{display: block;} 
.lt-ie8 .iemess a{color: #4e4c4c;} 
.lt-ie8 .iewrap{display: none;}

/* ==========================================================================
   Main Css
   ========================================================================== */

/*------------------- Home -------------------*/

body{
	font-size: 1em;
	font-family:'noto_reg', 'Times New Roman', Times, Georgia, Serif;	
}

a{
  text-decoration: none;    
  color:black;
  transition: color 150ms ease-in;
  -webkit-transition: color 150ms ease-in;
	-moz-transition: color 150ms ease-in;
	-o-transition: color 150ms ease-in;
	-ms-transition: color 150ms ease-in;
}

a:hover{
    color:#5A40AC;
}

.logo{
	max-width: 125px;
	margin: 15px;
/* 	float: left; */
}
.logo img{
	max-width: 100%;
	opacity: 1;
	transition: opacity 150ms ease-in;
  -webkit-transition: opacity 150ms ease-in;
	-moz-transition: opacity 150ms ease-in;
	-o-transition: opacity 150ms ease-in;
	-ms-transition: opacity 150ms ease-in;
}
.logo img:hover{
	opacity: 0.7;
}
nav.main{
	float: left;
	font-size: 0.750em;
	margin: 28px 0px;
}
nav.main li{ 
/* 	display: inline-block; */
	color:#9FD3AE;
	position: relative;
/* 	width:80px; */

/* 	text-align: center; */
}
nav.main li a{
/*
	text-transform: uppercase;
	margin: 0 5%;
	letter-spacing: 1px;
	color:#ffffff;
*/
	
	
text-transform: uppercase;
margin: 0 5%;
letter-spacing: 1px;
color: #FFF;
background-color: #fff;
width: 100%;
display: block;
margin: 9px;
height: 20px;
line-height: 20px;
padding: 1px;
	
}
nav.main li a:hover{
	color:#000000;
}
nav.black li a{
	color:#000000;
}
nav.black li a:hover{
	color:#9d3fab;
}
/*------------------- home page -------------------*/
.left{
	width: 42%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.1);
	background-color: red;
}
.leftStatic{
	width: 42%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.1);
}
.right{
	width:58%;
	height: 100%;
	float: left;
	position: fixed;
	left:42%;
	overflow: hidden;
	background-color: blue;
}
.homeLeft{
	width: 58%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
}
.homeRight{
	width:42%;
	height: 100%;
	float: left;
	position: fixed;
	left:58%;
}
.homeLinks span{
	font-family: 'open_sansregular';
	display: block;
}
.homeLinks hr{border: 1px solid #3e3e3e;}
span.summer{
	font-size: 1.875em;
	letter-spacing: 0.16em;
}
span.twenty{
	font-size: 4.215em;
	font-family: 'open_sansbold';
	height: 70px;
	display: inline-block;
	line-height: .900em;
}
span.core{
	letter-spacing: 1.098em;
	display: block;
	line-height: 50px;
	height: 35px;
	font-size: 1.594em;
}
span.range{
	letter-spacing: .6em;
	font-family: 'open_sansbold';
	font-size: 1.594em;
}
.homeLinks{
  width: 150px;
  position: relative;
  margin:250px 5%;
	text-transform: uppercase;
	margin-top: 30%;
}

/*-------------------about page-------------------*/

.aboutUs{
	width: 50%;
	margin: auto 15% auto;
	position: relative;
	margin-top:30%;
	height: 155px;
	max-width: 505px;
}

.aboutUs h3{
	margin: 12px 0;
	letter-spacing:2px;
	text-transform: uppercase;
}

.aboutUs p{
	line-height: 24px;
	font-size: 0.750em;
}

/*-------------------stockists page-------------------*/

.stockists{
	width: 50%;
	margin: auto 15% auto;
	position: relative;
	margin-top:30%;
	height: 60%;
	max-width: 505px;
}
.scrollAble{
	overflow-y: scroll;
	height: 100%;
}
.stockistsTwo{
	width: 50%;
	margin: auto 3% auto;
	margin-top:30%;
	height: 100%;
	overflow-y: scroll;
	max-width: 505px;
	position: absolute;
	left: 50%;
	padding-top: 36px;
}
.stockists h3,.stockistsTwo h3{
	margin: 12px 0;
	letter-spacing:2px;
	text-transform: uppercase;
}
.stockists p,.stockistsTwo p{
	font-size: 0.750em;
	margin: 2% 0;
}
.storeHeader{
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2px;
	display: block;
	margin:2px 0;
}
.storeAdd{
	font-family: 'noto_ita', 'Times New Roman', Times, Georgia, Serif;	
	display: block;
}
/*-------------------product page-------------------*/

.hiddenImg{
	visibility: hidden;
}

.products{
  width: 65%;
  margin: 30% 20% auto 15%;
  position: relative;
}
.products img{
  width:100%;
  margin:0;
}
.description{
  width:100%;
  text-align: center;
  margin-top:25px;
  margin: 12px 0;
	letter-spacing:2px;
}
.description h4{
	font-size: 1.5em;
	height: 40px;
}
.description p{
	font-size: 0.750em;
}
.plus,.minus{
	width: 46px;
	height: 46px;
	background: url(../i/plus.png) no-repeat 0 0;
	right: 20px;
	position: absolute;
	top: 50%;
	bottom: 50%;
	transition: all .2s ease; 
	-webkit-transition: all .2s ease; 
	-moz-transition: all .2s ease; 
	-o-transition: all .2s ease; 
	-ms-transition: all .2s ease; 
}
.minus{
	background: url(../i/minus.png) no-repeat 0 0;
	left: 20px;
}
.plus:hover,.minus:hover{
	opacity: 0.7;
}

.slider{
	position: absolute;
}

.slider section{
	display: inline-block;
	float:right;
	margin-right:0;
	position: relative;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}