/* 
Theme Name: 
Theme URI: http://cryn.co.nz/
Description: Crayon Online Lookbook
Author: Pollen Web Ltd
Author URI: http://www.pollencollective.co.nz
Version: 1.0

 */


/*------------------------------------ 
	
	WEBSITE HANDCODED BY JANSBURY @ POLLEN
	www.jansbury.com  / www.pollencollective.co.nz
	
------------------------------------*/

/* ==========================================================================
   Jansbury CSS Reset
   ========================================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
html,body {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}

/* ==========================================================================
   Just a font to the face
   ========================================================================== */

@font-face {
    font-family: 'noto_reg';
    src: url('f/serif/NotoSerif-Regular-webfont.eot');
    src: url('f/serif/NotoSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/serif/NotoSerif-Regular-webfont.woff') format('woff'),
         url('f/serif/NotoSerif-Regular-webfont.ttf') format('truetype'),
         url('f/serif/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_ita';
    src: url('f/serif/i/NotoSerif-Italic-webfont.eot');
    src: url('f/serif/i/NotoSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/serif/i/NotoSerif-Italic-webfont.woff') format('woff'),
         url('f/serif/i/NotoSerif-Italic-webfont.ttf') format('truetype'),
         url('f/serif/i/NotoSerif-Italic-webfont.svg#noto_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_bold';
    src: url('f/serif/b/NotoSerif-Bold-webfont.eot');
    src: url('f/serif/b/NotoSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/serif/b/NotoSerif-Bold-webfont.woff') format('woff'),
         url('f/serif/b/NotoSerif-Bold-webfont.ttf') format('truetype'),
         url('f/serif/b/NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('f/sans/r/OpenSans-Regular-webfont.eot');
    src: url('f/sans/r/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/sans/r/OpenSans-Regular-webfont.woff') format('woff'),
         url('f/sans/r/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('f/sans/r/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('f/sans/b/OpenSans-Bold-webfont.eot');
    src: url('f/sans/b/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/sans/b/OpenSans-Bold-webfont.woff') format('woff'),
         url('f/sans/b/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('f/sans/b/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Normals
   ========================================================================== */
* {-webkit-font-smoothing: antialiased;margin: auto;padding: 0;text-decoration:none;list-style: none outside none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
html{height:100%;}

/* ==========================================================================
   IE Message
   ========================================================================== */

.iemess{display:none;margin: 20px auto;width: 50%;line-height:2em;font-size: 2em;text-align:center;}
.lt-ie8 .iemess{display: block;} 
.lt-ie8 .iemess a{color: #4e4c4c;} 
.lt-ie8 .iewrap{display: none;}

/* ==========================================================================
  	PRELOAD ME
   ========================================================================== */

#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ffffff;
    z-index:99;  
}
#loader {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%; 
    background-image:url(i/status.gif);
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}

/* ==========================================================================
   Main Css
   ========================================================================== */

/*------------------- Home -------------------*/

body{
	font-size: 1em;
	font-family:'noto_reg', 'Times New Roman', Times, Georgia, Serif;	
	height: 100%;
}

a{
  text-decoration: none;    
  color:black;
  transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	-ms-transition: all 150ms ease-in;
}
a:hover{
    color:#696969;
}
.logo{
	max-width: 125px;
	margin: 15px;
}
.logo img{
	max-width: 100%;
	opacity: 1;
	transition: opacity 150ms ease-in;
  -webkit-transition: opacity 150ms ease-in;
	-moz-transition: opacity 150ms ease-in;
	-o-transition: opacity 150ms ease-in;
	-ms-transition: opacity 150ms ease-in;
}
.logo img:hover{
	opacity: 0.7;
}
nav.main{
	font-size: 0.750em;
	position: relative;
	float: left;
}
nav.main li{ 
	margin: 8px 6px;
	color:#9FD3AE;
	position: relative;
}
nav.main li a{
	font-family: 'noto_ita', 'Times New Roman', Times, Georgia, Serif;
	letter-spacing: 1px;
	margin: 9px;
	line-height: 28px;
	padding: 1px 6px 1px 1px;
	font-size: 1.125em;
	color: #fff;
	border-bottom: 1px solid #fff;
}
nav.main li a:hover{
	color:#696969;
	border-bottom: 1px solid #696969;
}
nav.black li a{
	color:#000000;
	border-bottom: 1px solid #000;
}
.navToggle{
	background: url(i/arrow.svg) center center no-repeat;
	width: 30px;
	height: 30px;
	margin: 15px 0 0 6px;
	cursor: pointer;
	float: left;
	clear: left;
}
.rotate180 {
	-webkit-transform:rotate(180deg) translate3d(0,0,0);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.rotate0 {
	-webkit-transform:rotate(0deg) translate3d(0,0,0);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

span.grey {
	font-family: 'noto_ita', 'Times New Roman', Times, Georgia, Serif;
	letter-spacing: 1px;
	margin: 9px;
	line-height: 28px;
	padding: 1px 6px 1px 1px;
	font-size: 1.125em;
	color:#696969;
	border-bottom: 1px solid #696969;
}

/*------------------- home page -------------------*/
.left{
	width: 42%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.1);
}
.leftStatic{
	width: 42%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.1);
}
.right{
	width:58%;
	height: 100%;
	float: left;
	position: fixed;
	left:42%;
	overflow: hidden;
}
.homeLeft{
	width: 58%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
}
.homeRight{
	width:42%;
	height: 100%;
	float: left;
	position: fixed;
	left:58%;
}
.homeLinks span{
	font-family: 'open_sansregular';
	display: block;
}
.homeLinks hr{border: 1px solid #3e3e3e;}
/*
span.summer{
	font-size: 1.875em;
	letter-spacing: 0.16em;
}
span.twenty{
	font-size: 4.215em;
	font-family: 'open_sansbold';
	height: 70px;
	display: inline-block;
	line-height: .900em;
}
span.core{
	letter-spacing: 1.098em;
	display: block;
	line-height: 50px;
	height: 35px;
	font-size: 1.594em;
}
span.range{
	letter-spacing: .6em;
	font-family: 'open_sansbold';
	font-size: 1.594em;
}
*/
.homeLinks{
  width: 150px;
  position: relative;
  margin:250px auto;
	text-transform: uppercase;
	margin-top: 30%;
}

/*-------------------about page-------------------*/

.aboutUs{
	width: 50%;
	margin: auto 15% auto;
	position: relative;
	margin-top:30%;
	height: 155px;
	max-width: 505px;
}

.aboutUs h3{
	margin: 12px 0;
	letter-spacing:2px;
	text-transform: uppercase;
}
.aboutUs p{
	line-height: 24px;
	font-size: 0.750em;
	font-family: 'noto_ita', 'Times New Roman', Times, Georgia, Serif;	
}

/*-------------------stockists page-------------------*/

.stockists{
	width: 50%;
	margin: auto 15% auto;
	position: relative;
	margin-top:30%;
	height: 60%;
	max-width: 505px;
}
.scrollAble{
	overflow-y: scroll;
	height: 100%;
}
.stockistsTwo{
	width: 50%;
	margin: auto 3% auto;
	margin-top:30%;
	height: 100%;
	overflow-y: scroll;
	max-width: 505px;
	position: absolute;
	left: 50%;
	padding-top: 36px;
}
.stockists h3,.stockistsTwo h3{
	margin: 12px 0;
	letter-spacing:2px;
	text-transform: uppercase;
}
.stockists p,.stockistsTwo p{
	font-size: 0.750em;
	margin: 2% 0;
}
.storeHeader{
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2px;
	display: block;
	margin:2px 0;
}
.storeAdd{
	font-family: 'noto_ita', 'Times New Roman', Times, Georgia, Serif;	
	display: block;
}
/*-------------------product page-------------------*/

.italicStyle{
	font-family: 'noto_ita', 'Times New Roman', Times, Georgia, Serif;	
	margin: 2% auto;
	width:80%;
}

.colors{
	max-width: 475px;
	margin: auto;
}

.hiddenImg{
	visibility: hidden;
}
.products{
  width: 65%;
  margin: 40% 20% auto 15%;
  position: relative;
}
.products img{
  width:100%;
  margin:0;
}
.description{
  width:100%;
  text-align: center;
  margin-top:25px;
  margin: 12px 0;
	letter-spacing:2px;
		-webkit-backface-visibility: hidden;
}

.description h4{
	font-size: 1.5em;
	margin-bottom: 3%;
}
.description p{
	font-size: 0.750em;

}
.plus,.minus{
	width: 46px;
	height: 46px;
	background: url(i/plus.svg) no-repeat 0 0;
	right: 20px;
	position: absolute;
	top: 50%;
	bottom: 50%;
	transition: all .2s ease; 
	-webkit-transition: all .2s ease; 
	-moz-transition: all .2s ease; 
	-o-transition: all .2s ease; 
	-ms-transition: all .2s ease; 
	opacity: 0.9;
	z-index: 1;
	cursor: pointer;
}
.minus{
	background: url(i/minus.svg) no-repeat 0 0;
	left: 20px;
}
.plus:hover,.minus:hover{
	opacity: 0.7;
	-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.scaleUp{
	-moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-backface-visibility: hidden;
}
.scaleDown{
	-moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
	-ms-transform: scale(1);
}

.slider{
	position: absolute;
}

.slider section{
	display: inline-block;
	float:left;
	margin-right:0;
	position: relative;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}